<!doctype html>
<html lang="{{ .Lang }}">
    <head>
        {{ partial "head-meta.html" . }}
    </head>
    <body class='bg-dark text-light'>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <main class=''>

            {{ partial "page-header.html" . }}

            <div class="main">
                {{ block "main" .}}
                <!-- This is where the page content redners -->
                {{ end }}

            </div>

            {{ partial "page-footer.html" . }}
        
        </main>

	{{ partial "javascript.html" . }}

    </body>
</html>
