/* ------------------------------------------------- */
/* These are customizations for the RawTherapee site.
/* Check with someone before hacking.
/* Usually patdavid or mica
/* ------------------------------------------------- */

/* Bootstrap sass variable hacking has to happen
    before importing bootstrap itself
*/

/* Overriding default bootstrap dark theme color */
/* Link/Colors should be checked against
/* Web Content Accessibility Guidelines:
/* https://webaim.org/resources/linkcontrastchecker/
/* https://webaim.org/resources/contrastchecker/ */
$theme-colors: (
    "primary": #1A88FF,
    "dark": #222222
);


/* This nest+loop adds a bigger margin for all
/* headings when they follow p, code, ul, ol */
.post-body {
    @for $i from 1 through 6 {
        p + h#{$i}, code + h#{$i},
        ul + h#{$i}, ol + h#{$i} {
            margin-top: 2rem;
        }
    }
}

/* This gives room above internal anchors
/* So they aren't hidden under navbar */
@for $i from 1 through 6 {
    h#{$i}[id]::before {
        display: block;
        height: 5rem;
        margin-top: -4rem;
        visibility: hidden;
        content: "";
    }
    h#{$i}:hover .header-link {
        visibility: visible;
    }
}

@import 'bootstrap';

/* Our custom SASS imports */
@import 'partials/homepage';
@import 'partials/typography';

/* --------------------------------------- */
/* Normal CSS customization goes down here */
/* --------------------------------------- */

/* Other custom stuff */

/* This make sure the footer is pushed down
    even if the page content is short */
.main {
    min-height: 55vh;
}

body {
    margin: 1rem;
}

.page, .post, .homepage {
    margin-top: 7rem;
}

pre {
    color: white;
    background-color: black;
    border: solid 1px #333333;
    padding: 0.3rem 0.5rem;
}

blockquote {
    border-left: solid 2px #666;
    padding: 0.7rem;
    background-color: #333;
}

figure { text-align: center; }
figure img {
    max-width: 100%;
}

/* Shadow under main nav bar */
#mainNav {
    box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.5);
}

/* Shadow around carousel on homepage */
#carouselExampleControls {
    box-shadow: 0 0 15px -3px black;
}

#intro {
    text-shadow: 1px 1px 1px #222, -1px 1px 1px #222,1px -1px 1px #222, -1px -1px 1px #222;
}

/* Shadow on homepage latest news at top */
.home_news_top {
    background-color: transparent !important;
}

/* Footer Styling */
/* -------------- */
footer {
    background-color: black;
}

.pixls-love {
    font-size: 0.9rem;
}
.heart {
    color: red;
    font-size: 1.6rem;
    vertical-align: sub;
}



/* Formatting for blog post metadata */
/* --------------------------------- */
.post-meta {
    font-size: 0.85rem;
    margin-bottom: 1.5rem;
    margin-top: -0.5rem;
}
.post-tags {
    font-size: small;
}

/* Header anchors */
/* -------------- */
.header-link {
    visibility: hidden;
}


@media(min-width: 992px) {

    /* Scale font size at the root <html> element */
    /* so we can scale any other rem's being used */

    html {
        font-size: 110%;
    }

    body {
        margin: 0;
    }


    /* Home Page */
    section.info {
        margin: 8rem 0;
    }
    /* Shadow on homepage latest news at top */
    .home_news_top {
        box-shadow: 0 2px 4px -0px rgba(0,0,0,0.25);
        background-color: #222 !important;
    }

}
