---
title: "Home"
date: 2018-03-01
draft: false
author: "RawTherapee Team"
---

<section class='container'>
    <div class='row justify-content-center'>
        <div class='col-lg-10'>
            <h3>About</h3>
            <p>
                RawTherapee is a powerful, cross-platform raw photo processing system, released as <a href="https://www.gnu.org/philosophy/free-sw.en.html" title="What is Free Software?">Free Software</a> (<a href="https://www.gnu.org/licenses/gpl-3.0.en.html" title="GNU General Public License Version 3">GPLv3</a>). It is designed for developing raw files from a broad range of digital cameras and targeted at users ranging from enthusiast newcomers who wish to broaden their understanding of how digital imaging works to professional photographers.
            </p>

            <p>
                RawTherapee provides a powerful suite of tools for you to produce amazing photos and showcase your creativity.
            </p>

            <p>
                RawTherapee benefits users who take the time to learn what it can do.
                Luckily the community is quite welcoming and helpful!
                Check out the <a href="https://discuss.pixls.us/rawtherapee" title="RawTherapee Forum">Forum</a>, read up on <a href="https://rawpedia.rawtherapee.com/" title="RawPedia">RawPedia</a>, and ask questions - there's always something neat to learn! :)
            </p>

            <div class='d-flex flex-column flex-md-row justify-content-center'>
                <a href="https://discuss.pixls.us/rawtherapee" class="btn btn-outline-primary px-4 mr-2 my-2">Forum</a>
                <a href="https://rawpedia.rawtherapee.com" class="btn btn-outline-primary px-4 mr-2 my-2 ">Documentation</a>
                <a href="https://github.com/Beep6581/RawTherapee" class="btn btn-outline-primary px-4 mr-2 my-2 ">Code</a>
            </div>

        </div>
    </div>
</section>

<div class='container mt-5 mb-lg-n5'>
    <div class='row'>
        <div class='col-12 text-center'>
            <img src='images/ornament1.svg' height=40>
        </div>
    </div>
</div>

<section class='info container-fluid'>
    <div class='row justify-content-end'>
        <div class='col-lg-3'>
            <h4>High Image Quality</h4>
            <p>
                Non-destructive, 32-bit (floating point) processing engine, modern demosaicing algorithms, and advanced color+detail editing bring you the best tools to develop images of the highest quality from your raw files (including High Dynamic Range DNG).
            </p>
        </div>

        <div class='col-lg-8'>
            <img class="w-100" src="rt57_misty_morning.jpg" alt="First slide">
            <div class='row justify-content-end no-gutters'>
                <div class='colorbox cb-orange'></div>
            </div>
        </div>

    </div>
</section>

<section class='info container-fluid'>
    <div class='row justify-content-start'>
        <div class='col-lg-3 order-lg-2'>
            <h4>Outstanding Raw Support</h4>
            <p>
                RawTherapee gives you best-in-class demosaicing, including using two demosaicing algorithms on the same image, compositing <a href="https://pixls.us/articles/rawtherapee-and-pentax-pixel-shift/">pixel-shift raw files</a> with automatic ghost masking, working with multiple-frame raw files, dark frame subtraction, flat field correction, and hot/dead pixel correction!
            </p>
        </div>

        <div class='col-lg-8 order-lg-1'>
            <img class="w-100" src="rt57_cc24_measure.jpg" alt="First slide">
            <div class='row justify-content-start no-gutters'>
                <div class='colorbox cb-green'></div>
            </div>
        </div>

    </div>
</section>

<section class='info container-fluid'>
    <div class='row justify-content-end'>
        <div class='col-lg-3'>
            <h4>Freedom for Free</h4>
            <p>
                RawTherapee is Free and Open Source software.
                This  means you can use it free of charge, wherever you like and however you like as long as you abide by the copyleft <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3 license.</a>
                Download the source code, modify it, and help improve it!
                <strong>We believe in Free Software.</strong> <span class="text-danger">&hearts;</span>
            </p>
            <p>
                It is cross-platform - you can use it on Linux, macOS, or Microsoft Windows.
                It is also international and available in over 15 languages!
            </p>
        </div>

        <div class='col-lg-8'>
            <img class="w-100" src="rt57_field_sunset.jpg" alt="First slide">
            <div class='row justify-content-end no-gutters'>
                <div class='colorbox cb-blue'></div>
            </div>
        </div>

    </div>
</section>
