{{ define "main" }}

<section class="page container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="page-title mb-n4">{{ .Title }}</h1>
            {{- range .Data.Pages.GroupByDate "2006" }}
            <div class="mt-5">
                <h3 class="post-year border-bottom border-secondary">{{ .Key }}</h3>

                {{- range .Pages }}
                <h4 class='mt-4 mb-n1'>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h4>

                {{ if not .Date.IsZero }}
                <time class="font-italic mb-1 d-block" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                    <small>
                        {{- .Date.Format (.Site.Params.dateform | default "02 Jan 2006") }}
                        {{ with .Params.author }}
                            by
                            {{ . -}}
                        {{ end }}
                    </small>
                </time>
                {{ end }}

                <p>
                    {{ .Summary | safeHTML }}
                    {{ if .Truncated }}
                    <br>
                    <span>
                        (<a href="{{ .Permalink }}">{{ i18n "readMove" }}</a>)
                    </span>
                    {{- end }}
                </p>

                {{- end }}

            </div>
            {{- end }}
        </div>
    </div>
</section>

{{ end }}
