{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{/* $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") */}}
{{ $dateFormat := default "02 Jan 2006 (Monday)" (index .Site.Params "date_format") }}


<article class="post container">
    <div class="row justify-content-center">
        <div class="col-lg-8">

            <h1 class="post-title">
                {{ .Title | markdownify }}
            </h1>
            <div class="post-meta">
                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                    {{ .Date.Format $dateFormat }}
                </time>
                {{ if .Params.author }}
                by 
                <span class="post-author">
                    {{ .Params.author | default .Site.Params.author }}
                </span>
                {{ end }}
                <div class="post-tags">
                    {{ if .Params.tags }}
                    Filed under: {{ partial "tags.html" . }}
                    {{ end }}
                </div>
            </div>
            <div class="post-body">
                {{ partial "header-links.html" .Content }}
                {{/* {{ .Content }} */}}

                {{ if .IsTranslated }}
                <h4>{{ i18n "translations" }}</h4>
                <ul>
                    {{ range .Translations }}
                    <li><a href="{{ .Permalink }}">
                            {{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
                    </a></li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>

        </div>
    </div>
</article>


<div class="container mt-lg-5">
    {{/*
    <div class="row justify-content-center">
        <div class="col-lg-8">
            {{ with .PrevInSection }}
            <a class="post-previous" href="{{.Permalink}}"> {{.Title}}</a>
            {{ end }}
            {{ with .NextInSection }}
            <a class="post-next" href="{{.Permalink}}"> {{.Title}}</a>
            {{ end }}
        </div>
    </div>
    */}}

    <div class="row justify-content-center">
        <div class="col-lg-8 border-top border-secondary pt-4">
            <aside>
                {{ partial "related-posts.html" . }}
            </aside>
        </div>
    </div>
</div>

{{ end }}
