<footer class="mt-5 mx-n3 mb-n3 mx-lg-0 py-5">
  <div class="container">
      <div class="row ">

          <div class='col-lg-4'>
          <a class="navbar-brand" href="{{ .Site.BaseURL}}" rel="home" title="{{ .Site.Title }}">
              {{/* {{ .Site.Title | safeHTML }}  */}}
              <img src="{{ .Site.BaseURL }}images/rt-logo-white.svg">
          </a>
          </div>

          <div class="col-md-8 d-flex flex-column flex-md-row align-self-lg-center justify-content-lg-end">
                  {{ $currentPage := . }}
                  {{ range .Site.Menus.main }}
                  <span class="footer-nav-link pt-3 pt-lg-0 px-2">
                      <a class="" href="{{.URL}}">
                          {{ .Pre }}
                          <span>{{ .Name }}</span>
                      </a>
                  </span>
                  {{end}}
          </div>
    </div>

    {{/*
    <div class="row justify-content-lg-end">
        <div class="col-lg-6 mt-lg-2 d-flex flex-column flex-md-row align-self-lg-center justify-content-lg-end">
            <a href="https://discuss.pixls.us/c/software/rawtherapee" class='pt-3 pt-lg-0 px-2'>{{ i18n "forum" }}</a>
            <a href="https://rawpedia.rawtherapee.com" class='pt-3 pt-lg-0 px-2'>{{ i18n "documentation" }}</a>
            <a href="https://github.com/Beep6581/RawTherapee" class='pt-3 pt-lg-0 px-2'>{{ i18n "code" }}</a>
        </div>
    </div>
    */}}

    <div class="row justify-content-lg-end">
        <div class="col-lg-6 mt-lg-2 d-flex flex-column flex-md-row align-self-lg-center justify-content-lg-end">
            {{ range .Site.Menus.secondary }}
            <a href="{{ .URL }}" class='pt-3 pt-lg-0 px-2'>{{ .Pre }}{{ .Name }}</a>
            {{ end }}
        </div>
    </div>


    <div class="row justify-content-center text-center">
        <div class="col-lg-6 mt-5">
            <div class='mb-2 text-secondary'>
                &copy; {{ i18n "copyright" }} {{ now.Format "2006" }} {{ i18n "copyrightEntity" }}
            </div>
            <span class='pixls-love border-top border-secondary d-inline-block'>
                <a href="https://pixls.us">pixls.us</a> <span class="heart">♥</span>
                RawTherapee
            </span>
        </div>
    </div>

  </div>
</footer>
